<%- include('includes/header'); -%>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
           <!--MAIN BODY-->
      <section style="margin-bottom: 0;">
        <div class="flex justify-center head">
            <h1 style="font-weight: 900;">
            <div class="" >  <center> <img class="w-64 h-64 rounded-md border-2 border-blue-800" src="<%= bot.user.displayAvatarURL({size: 4096}) %>" > <span style="font-size: 40px;"><span style="color:#5663f7;"><%= bot.user.username %></span> | Ultimate Experience</span>
               </center>
            </div>
                <br/>
<br/>
            </h1>
        </div>
        <div class="d-flex justify-content-center subtext">
            <p style="font-style: italic;font-size: 30px;">Just another Discord Bot!</p>
        </div>
      </section>
      <section  style="margin-top: -15%;">
      <%- include('includes/footer'); -%>
    </body>
</html>


