<section>
           <div class="card-footer" style="margin-top:15%;text-align: center;color: #828cff;">
             <hr style="width: 75%;background-color: #FFFFFF!important;color: #FFFFFF!important;border: 5px solid #FFFFFF!important;border-radius:25px;margin-left: 12%;">
             <h4 style="margin-top:5%;">
             </h4>
             <h5 style="text-align: center;">
               <a href="https://discord.gg/QD4naqcx" target="_blank" style="font-size: 12px; color: #888a9b!important;text-decoration: none;">&copy; Copyright WestyDev | All rights served.</a><br><br>
               <a href="https://discord.gg/QD4naqcx" target="_blank" style="font-size: 20px; color: #828cff!important;text-decoration: none;">Developed by <code>Westy#1337</code></a>
             </h5>
           </div>
</section>